<body>
    <main>
        <h1>Ajustes</h1>
        <p>Provincia</p>
        <div class="provi">
            <input list="sport" class="titlevent" placeholder="  Añadir Porvincia                   V">
            <datalist id="sport">
                <option value="Cadiz"></option>
                <option value="Malaga"></option>
                <option value="Granada"></option>
                <option value="Sevilla"></option>
                <option value="Cordoba"></option>
                <option value="Jaen"></option>
                <option value="Almeria"></option>
                <option value="Huelva"></option>
            </datalist>
        </div>
        <div class="provi">
            <input list="sport" class="titlevent" placeholder="  Borrar Porvincia                   V">
            <datalist id="sport">
                <option value="Cadiz"></option>
                <option value="Malaga"></option>
                <option value="Granada"></option>
                <option value="Sevilla"></option>
                <option value="Cordoba"></option>
                <option value="Jaen"></option>
                <option value="Almeria"></option>
                <option value="Huelva"></option>
            </datalist>
        </div>
        <p class="cont">Contraseña</p>
        <div class="contraseña">
            <input class="put" type="password" placeholder="Contraseña">
            <input class="put" type="password" placeholder="Repetir Contraseña">
        </div>
        <div class="btn">
            <button class="b2">Aceptar</button>
            <button class="b" routerLink="">Cancelar</button>
        </div>
    </main>
</body>

