<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer *ngIf="this.userService.logueado">
        <div class="tamaño">
            <a routerLink=""> <img src="./../../../assets/logocasa.jpg" ></a>
        </div>
        <div class="tamaño">
            <a href="" routerLink="explore"> <img src="./../../../assets/lupa.png"></a>
        </div>
        <div class="tamaño">
            <a href="" routerLink="event"> <img src="./../../../assets/subirdocumento.png" ></a>
        </div>
        <div class="tamaño">
            <a href="" routerLink="perfil"> <img src="./../../../assets/fotoperfil.jfif"></a>
        </div>
    </footer>
</body>
</html>
